{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}
{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    <div class="flex-color-wrap">
      <div class="flex-color">
          <input
            type="radio"
            id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
            name="{{ option.name }}"
            value="{{ value | escape }}"
            form="{{ product_form_id }}"
            data-option="{{ option.selected_value }}"
            {% if option.selected_value == value %}
              checked
            {% endif %}
          >
        {% assign variant_img_src =  value | strip_newlines | strip_html | remove: '  ' | append: '.png' | replace: ' ', '-' | asset_url  %}
        {% assign variant_img_color =  value | split: ' ' | last | handle  %}
          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" {% if variant_img_color != blank %}{% if option.name == "Color" %}style="background-color: {{ variant_img_color }};"{% else %}{% endif %}{% endif %}>
            {% comment %}
              <img src="{{ variant_img_src }}" onerror="this.style.display='none'" alt="{{ color }}" width="26" height="26"/>
            {% endcomment %}
            <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
          </label> 
          <p>{% if option.name == "Color" %}{{ value | split: ' ' | last | handle }}{% endif %}</p>
        </div>
    </div>
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
  {% capture tempList %}
  {{colorlist | append: color | append: ' '}}
  {% endcapture %}
  {% assign colorlist = tempList %}
{%- endfor -%}